<section class = "card">
    <div class="card-header">
        <h2><a href='/blogposts/{{id}}'>{{post_title}}</a></h2>
        <div class="author">Posted by {{post_author}} on {{post_date}}</div>
    </div>
    <div class="card-body">
        <p>{{post_content}}</p>
    </div>
</section>